/* 
------
Default Styling
------
 */


body {
    
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}
nav{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
}
button {
    font-family: 'Nunito Sans', sans-serif;
    height: 4em;
     width: 15em;
     background-color: #F9A826;
     border: none;
     color: white;
     border-radius: 2em;
     outline: none;
}

@media (max-width: 990px){
    body{
        font-size: 7px;
        width: 100%;
    }
}

/* 
------
Header Styling
------
 */

.header-right {
    padding-top: 1em;
    display: block;
    right: 1em;
    

}

.logo {
    width: 5em;
    padding-left: 1em;
}

.nav-link {
    padding-right: 3em;
    text-decoration: none;
    font-family: 'Bai Jamjuree', sans-serif;
    color: black;
}

.nav-button {
    height: 3em;
    width: 10em;
    
}

/* 
------
Header Styling (Mobile Resposniveness)
------
 */

 @media (max-width: 990px){
    .nav-button {
        width: 10em;
        font-size: 0.5rem;
    }
 }


/* 
------
Intro Styling
------
 */

 .intro-con {
     padding-top: 10em;
     display: flex;
    
 }
 
 .intro-col-1 {
     width: 50%;
     
 }  

 .intro-illus { 
     justify-content: space-between;
     height: 30em;
     
     
      
 }

 .intro-col-2 {
     width: 100%;
     
 }

 .intro-message {
     font-size: 1.8em;
     text-align: text-align;
     line-height: 1.5em;
     display: block;
     margin-top: 20%;
     margin-left: 20%;
     font-weight: 700;
 }

 .intro-btn {
     display: block;
     margin-left: 40%;
     
 }
 /* 
------
Introduction Styling (Mobile Responsiveness)
------
 */
 
 @media (max-width: 990px){
     .intro-con {
         flex-direction: column;
         padding-top: 8em;
         
     }
     .intro-col-1 {
         width: 100%;
     }
    .intro-illus {
        width: 60%;
        display: block;
        margin: auto;
    }
    .intro-message {
        font-size: 0.8rem;
        text-align: center;
        margin: 2rem 0 1em 0;
    }

    .intro-btn {
        width: 10em;
        height: 2.5em;
        display: block;
        margin: auto;
        margin-bottom: 2em;
    }

 }

 /* 
------
More Info Styling
------
 */
 
 .more-info-col-1 {
     color: rgb(0, 0, 0);

 }

.more-info-col-child {
    margin-bottom: 5em;
    font-size: 1.1rem;
}

.more-info-col-child h3 {
    font-size: 1.4rem;
}


 .more-info-con {
    background-color: #F9A826;
     padding-top: 7em;
     display: flex;
     justify-content: space-evenly;
     margin-top: -0.5em; 
     padding-bottom: 5em;
 }

 .more-info-col-2 {
     width: 40%;
 }

 .more-info-col-2 img {
    width: 100%;
    margin-right: -15em;
 }

 
 /* 
------
More Info Styling (Mobile Responsiveness)
------
 */

 @media (max-width: 990px){
     .more-info-con {
         flex-direction: column-reverse;
         width: 100%;
     }
     .more-info-col-child {
         margin-bottom: 3em;
     }

     .more-info-col-child h3 {
         font-size: 0.7rem;
         text-align: center;
     }
     .more-info-col-child p {
        font-size: 0.5rem;
        text-align: center;
    }

    .more-info-col-2 {
        width: 100%;
    }

    .more-info-col-2 img {
        width: 60%;
        display: block;
        margin: 2em auto 2em auto;
    }
 }



  /* 
------
Download Section Styling
------
 */

 .download-header {
     text-align: center;
     font-size: 3rem;
     font-family: 'Bai Jamjuree', sans-serif;
 }

 .download-section {
     display: flex;
 }

 .download-section-illus {
     width: 40em;
 }

 .download-section-col-2 {
        text-align: center;
        line-height: 1.5em;
        display: block;
        margin-top: 10%;
        margin-left: 12%;
        font-size: 1.5rem;
        font-weight: 700;
 }
 .download-btn-ios {
     background-color: rgb(42, 39, 63);
 }
   /* 
------
Download Section Styling (Mobile Resposniveness)
------
 */

 @media (max-width: 990px){
     .download-section {
         flex-direction: column;
     }
     
     .download-header {
         font-size: 1.5rem;
         margin: 2em 0 1em 0;
     }
     .download-section-illus {
         width: 50%;
         display: block;
         margin: auto;
     }
     .download-section-col-2 {
         line-height: 1em;
         margin: 0;
     }
     .download-section-col-2 p {
         font-size: 0.8rem;
     }
     .download-btn-ios {
         margin-top: 1em;
     }
         
 }

  /* 
------
Our Partners Section Styling 
------
 */

 .partner-section-header {
     text-align: center;
     margin-top: 8em;
     font-size: 1.3rem;
 }

.partner-section-header h1 {
    font-size: 3rem;
     font-family: 'Bai Jamjuree', sans-serif;
     margin: 0;
}



.partner-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
    margin-bottom: 4em;
}

.our-partner-logo {
    width: 7em;
   
}

 /* 
------
Our Partners Section Styling (Mobile Responsiveness)
------
 */

 @media (max-width: 990px){
    .partner-section-header {
        font-size: 0.8rem;
    }
    .partner-section-header h1 {
        font-size: 2rem;
    }
    .partner-section {
        flex-direction: column;
    }
    .our-partner-logo {
        display: block;
        margin: auto;
        width: 15em;
        margin-bottom: 6em;
    }
 }

  /* 
------
Footer Section Styling
------
 */
 

footer {
    background-color: rgb(42, 39, 63); 
    width: 100%;
    margin-bottom: -1em;
    margin-top: 3em;
    padding: 8em 0 0.5em 0;
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
}
.footer-col-con {
    display: flex;
    justify-content: space-evenly;
}

.footer-col-1 {
    display: flex;
    flex-direction: column;
}

.footer-col-1 a {
    padding-bottom: 1em;
    text-decoration: none;
    color: white;
}

.footer-logo {
    padding-bottom: 2em;
    width: 4em;
}

.footer-form {
    height: 3em;
     width: 18em;
     background-color: transparent;
     border-style: solid;
     border-color: #F9A826;
     color: white;
     border-radius: 2em;
     padding-left: 1em;
     outline: none;
}

.footer-form-btn {
    width: 8em;
    height: 3.5em;
    margin: 1em;
    outline: none;
}

.footer-social-link {
    padding: 0.5em;
}

.signature {
   text-align: center;
   margin-top: 6em;
   color:  #F9A826;
}

 /* 
------
Footer Section Styling (Mobile Responsiveness)
------
 */
 @media (max-width: 990px){

 .footer-col-con {
     flex-direction: column ;
 }

 .logo {
     display: block;
     margin: auto;
 }

 .footer-col {
     display: block;
     margin: auto;
 }
 .footer-col-1 {
     text-align: center;
     margin: 1.5em 0 1.5em 0;
 }
 .footer-form {
     
     width: 13em;
     height: 2em;
 }
 .footer-form-btn {
     height: 2em;
     width: 5em;
 }
}

/*
----------------------------------
------------------------
----------------------------------
------------------------
About Page Styling
------------------------
------------------------------------
------------------------
------------------------------------
*/

.about-us-con {
    padding: 8em 0 5em 0;
    text-align: center;

}

.about-us-con h1 {
    color: rgb(249, 168, 38, 1.6);
}

.about-us-con p {
    line-height: 1.7em;
    color:  rgb(42, 39, 63); ;
}

.aside-con {
    margin: 0;
}

.aside-con-col img {
    width: 60% ;
}

.aside-con h1 {
    text-align: center;
    margin-top: 4em;
    color:  rgb(42, 39, 63); ;
}

.aside-con button {
    display: block;
    margin: auto;
    border-color: rgb(42, 39, 63); 
    border-style: solid;
    background-color: transparent;
    margin-top: 1em;
}

.footer-about {
    margin-top: 0;
}

@media (max-width: 990px) {
    .aside-con button {
        height: 2.5em;
        width: 10em;
    }
}

/*
----------------------------------
------------------------
----------------------------------
------------------------
Contact Page Styling
------------------------
------------------------------------
------------------------
------------------------------------
*/

.contact-con {
    display: flex;
    padding-top: 10em;
    justify-content: space-evenly;
}

.contact-con-col {
    width: 50%;
}

.contact-con-col img {
   width: 100%;
}

.contact-form {
    width: 30%;
}

form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    height: 3em;
    margin-bottom: 2em;
    border-color: #F9A826;
    background-color: transparent;
    border-style: solid;
    border-width: 0.1em;
    padding-left: 1em;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 1em;
    outline: none;
}

.contact-form textarea {
    height:8em;
    padding-top: 1em;
}

@media (max-width: 990px){
    .contact-con {
        flex-direction: column;
       
    }
    .contact-con-col {
        width: 100%;
        margin-bottom: 3em;
    }
    .contact-form {
        width: 100%;
    }
    .contact-form input, .contact-form textarea {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }

    .contact-form button, .contact-form input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 2.5em;
    }
}




